{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>
    {% block title %}
    {% endblock %}
  </title>
	<link rel="stylesheet" href="{% static '/css/style2.css' %}">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js" ></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>
<body>
	<main>
		<menu>
			<nav class="menu">
				<ul class="menu-list">
					<li class="port"><img src="" alt="" class="a"></li>
					<li class="port"><a href="{% url 'dashboardgr' %}">XML</a></li>
					<li class="port"><a href="{% url 'dashboardgrimages' %}">IMAGES</a></li>
					
				</ul>
		</menu>




<div class="glob-wrap">

      <h2 style="padding:0 0 20px 20px">Panorama</h2>


        	  <a href="#" class="dash-but" onclick="showPanorama()" >Load</a>



          <div class="graph" >

          				<div class="graph-wrap" >

          					<div class="divGraph" id="divChart">
          						<h3 style="text-align: center; display: none" id="h3">Diagonals</h3>
          			      <canvas id="myChart" class="graph" height="250px"></canvas>

          	  		 </div>
          				 <div class="divGraph" id="divChart2" style="margin-top:-50px">
          					 <h3 style="text-align: center; display: none" id="h3">Sides Atittudes</h3>
          					 <canvas id="myChart2" class="graph" height="250px"></canvas>

          				</div>

          			</div>
          			<div class="graph2-wrap" style="margin-top:50px; margin-left:35px">
          				<canvas id="myChart-rad" height="500px" width="500px"  style="margin-top:-20px"></canvas>
          			</div>

          </div>





	</div>


		</main>
		</body>

<script>


         function showPanorama(){
              $.ajax({
                  cache: false,
                  type: 'GET',
                  async: false,


                  url:  "{% url 'add_ajaxthree' %}",
                  data:"inputs + '&ran=' + Math.rand()",
                  success: function(data) {

                      var co_data = data['co_data']
                      var len_d = data['len_d']

                      var div_arr_cap = data['div_arr_cap']
                      var div_arr_l = data['div_arr_l']
                      var div_arr_b_one = data['div_arr_b_one']
                      var div_arr_b_pol = data['div_arr_b_pol']
                      var div_arr_b_two = data['div_arr_b_two']


                      var s_arr_cap = data['s_arr_cap']
                      var s_arr_l = data['s_arr_l']
                      var s_arr_b_one = data['s_arr_b_one']
                      var s_arr_b_pol = data['s_arr_b_pol']
                      var s_arr_b_two = data['s_arr_b_two']

                      var ctx_rad = document.getElementById('myChart-rad').getContext('2d');

                      var rad_graph = new Chart(ctx_rad, {
                        responsive:true,
                          data:{
                          datasets: [{
                              data: co_data,
                              backgroundColor: ['red','yellow','lightgreen','purple','lightblue']
                          }],
                          // These labels appear in the legend and in the tooltips when hovering different arcs
                          labels: [
                              'Cap',
                              'Label',
                              'Bottle 1L',
                              'Bottle 1.5L',
                              'Bottle 2L',

                          ],
                      },
                          type: 'polarArea',
                          options: {
                              title: {
                                  display: true,
                                  text: 'Numbers'
                              }
                          }
                      });


                      var ctx = document.getElementById('myChart').getContext('2d');
                      var chart = new Chart(ctx, {
                          // The type of chart we want to create
                          type: 'line',

                          // The data for our dataset
                          data: {
                              showLine:false,
                              labels: len_d,
                              datasets: [

                                {
                                  label: 'cap',
                                  pointRadius:"20px",

                                  backgroundColor: 'rgb(204, 204, 255, 0.4)',
                                  borderColor: 'rgb(255, 99, 132, 0.4)',
                                  data: div_arr_cap,
                              },
                              {

                                    pointRadius:"20px",
                                  label: 'label',

                                  backgroundColor: 'rgb(55, 52, 12, 0.4)',
                                  borderColor: 'rgb(255, 99, 132, 0.4)',
                                  data: div_arr_l,
                              },
                              {
                                pointRadius:"20px",
                                  label: 'bottle 1L',

                                  backgroundColor: 'rgb(115, 5, 122, 0.4)',
                                  borderColor: 'rgb(255, 99, 132, 0.4)',
                                  data: div_arr_b_one,
                              },
                              {
                                pointRadius:"20px",
                                  label: 'bottle 1.5L',

                                  backgroundColor: 'rgb(254, 202, 15, 0.4)',
                                  borderColor: 'rgb(255, 99, 132, 0.4)',
                                  data: div_arr_b_pol,
                              },
                              {
                                  pointRadius:"20px",
                                  label: 'bottle 2L',

                                  backgroundColor: 'rgb(15, 25, 142, 0.4)',
                                  borderColor: 'rgb(255, 99, 132, 0.4)',
                                  data: div_arr_b_two,
                              }

                          ]

                          },

                          // Configuration options go here
                          options: {
                              title: {
                                  display: true,
                                  text: 'Diagonals'
                              }
                          }
                      });


                      var ctx2 = document.getElementById('myChart2').getContext('2d');
                      var chart2 = new Chart(ctx2, {
                          // The type of chart we want to create
                          type: 'line',

                          // The data for our dataset
                          data: {
                              labels:len_d,
                              datasets: [

                                {
                                  label: 'cap',
                                  pointRadius:"20px",

                                  backgroundColor: 'rgb(204, 204, 255, 0.4)',
                                  borderColor: 'rgb(255, 99, 132, 0.4)',
                                  data: s_arr_cap,
                              },
                              { pointRadius:"20px",
                                label: 'label',

                                backgroundColor: 'rgb(55, 52, 12, 0.4)',
                                borderColor: 'rgb(255, 99, 132, 0.4)',
                                data: s_arr_l,
                            },
                            {		pointRadius:"20px",
                                label: 'bottle 1L',

                                backgroundColor: 'rgb(115, 5, 122, 0.4)',
                                borderColor: 'rgb(255, 99, 132, 0.4)',
                                data: s_arr_b_one,
                            },
                            {		pointRadius:"20px",
                                label: 'bottle 1.5L',

                                backgroundColor: 'rgb(254, 202, 15, 0.4)',
                                borderColor: 'rgb(255, 99, 132, 0.4)',
                                data: s_arr_b_pol,
                            },
                            {		pointRadius:"20px",
                                label: 'bottle 2L',

                                backgroundColor: 'rgb(15, 25, 142, 0.4)',
                                borderColor: 'rgb(255, 99, 132, 0.4)',
                                data: s_arr_b_two,
                            },


                          ]

                          },

                          // Configuration options go here
                          options: {
                              title: {
                                  display: true,
                                  text: 'Sides Atittudes'
                              }
                          }
                      });



                        },
                dataType: 'json',
                });

         }
</script>








  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js" ></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

</html>
