{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{% static '/css/PhilipMorris.css' %}">
	<title>
    {% block title %}

    {% endblock %}
  </title>

</head>
<body>
	<main>
		<menu>
			<nav class="menu">
				<ul class="menu-list">
					<li class="port"><img src="" alt="" class="a"></li>
          <li class="port"><a href="{% url 'dashboardgr' %}">XML</a></li>
					<li class="port"><a href="{% url 'dashboardgrimages' %}">IMAGES</a></li>

				</ul>
		</menu>
	</main>
</body>
</html>
